/* HTML Selector*//*more specific as you go down*/
ol{
    list-style: none;
}
ol li:first-child{
    display:block;

}
nav ol li {
    display:none;
}
nav ol li a{
    text-decoration: none;
}

/*Class Selectors*/

/*Id Selector*/